{% extends "base.html" %}

{% block header %}
        <a href="index.html"><button style="width:100px; height:40px;" type="submit">На головну</button></a>
        <a href="index2.html"><button style="width:170px; height:40px;" type="submit">Розширений пошук</button></a>
        
        <form action="https://www.google.com/images">

            <h1>Серфер</h1>
            <div><input type="text" name="q"></div>
            <div><button style="width:100px; height:40px;" type="submit">Серфити</button>

            </div>



        </form>

    {% endblock %}