{% extends "base.html" %}

{% block header %}
        <a href="index1.html"><button style="width:100px; height:40px;" type="submit">Зображення</button></a>
        <a href="index2.html"><button style="width:170px; height:40px;" type="submit">Розширений пошук</button></a>
        
        <form action="/form" method="post">
            <h1>Серфер</h1>
            <div><input type="text" name="q" value="" required></div>
            <div><input type="submit" style="width:100px; height:40px;" value="Cерфити">

            </div>

        </form>

{% endblock %}
